/* colors */

:root {
  /* Colors */
  --primary-background-color: #ffffff;
  --secondary-background-color: #2f303a;
  --tertiary-background-color: #f5f4fa;
  --accent-color: #2196f3;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --tertiary-text-color: #ffffff;
  --secondary-text-color-transparency: rgba(255, 255, 255, 0.6);
  --logo-color: #000000;
  --cards-border-color: #eeeeee;
  --header-border-bottom: #ececec;
}

/* global */

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

body {
  font-family: 'Roboto', 'Arial', 'Tahoma', sans-serif;
  font-size: 14px;
  width: 1600px;
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* index */

/* main */

/* header */

.header {
  font-weight: 500;
  border-bottom: 1px solid var(--header-border-bottom);
}

.header .container {
  display: flex;
  align-items: center;
}

/* logo */

.logo {
  display: block;
  margin-top: 24px;
  margin-bottom: 25px;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: calc(31 / 26);
  color: var(--logo-color);
}

.logo-accent {
  color: var(--accent-color);
}

/* nav */

.nav {
}

.nav-list {
  display: flex;
  margin-left: 93px;
}

.nav-list-item {
}

.nav-list-item:not(:last-child),
.contacts-list-item:not(:last-child) {
  margin-right: 50px;
}

.nav .link {
  display: block;
  margin-top: 32px;
  margin-bottom: 32px;
  text-decoration: none;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.nav .link-current {
  text-decoration: none;
  color: var(--accent-color);
}

.nav .link:hover,
.nav .link:focus {
  color: var(--accent-color);
}

/* contacts */

.contacts-list {
  display: flex;
  margin-left: auto;
}

.contacts-list-item {
}

.contacts-list .link {
  display: block;
  margin-top: 32px;
  margin-bottom: 32px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--secondary-text-color);
}

.contacts-list .link:visited {
  color: var(--secondary-text-color);
}

.contacts-list .link:hover,
.contacts-list .link:focus {
  color: var(--accent-color);
}

/* hero */

.hero {
  background-color: var(--secondary-background-color);
  text-align: center;
}

.hero .title {
  display: block;
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--tertiary-text-color);
}

.hero .button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: var(--tertiary-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

/* benefits */

.benefits {
  padding-bottom: 0px;
}

.benefits-title {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  color: transparent;
}

.benefits-list {
  display: flex;
}

.benefits-list .benefits-list-item:not(:last-child) {
  margin-right: 30px;
}

.benefits .title {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.benefits .text {
  width: 270px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/* work */

.work-title {
  margin-top: 0px;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.work-list {
  display: flex;
}

.img-no-gap {
  display: block;
}

.work-list-item:not(:last-child) {
  margin-right: 30px;
}

/* team */

.team {
  background-color: var(--tertiary-background-color);
}

.team-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-list {
  display: flex;
}

.team-list-item {
  background-color: var(--primary-background-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-list-item:not(:last-child) {
  margin-right: 30px;
}

.team .title {
  margin-top: 30;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team .text {
  margin-top: 10;
  margin-bottom: 30;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/* footer */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--secondary-background-color);
}

.footer .logo {
  margin-top: 0px;
  margin-bottom: 20px;
  color: var(--tertiary-text-color);
}

.footer .location {
  margin-top: 0px;
  margin-bottom: 9px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--tertiary-text-color);
}

.footer-contacts-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer .link {
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color-transparency);
}

.footer .link:hover,
.footer .link:focus {
  color: var(--accent-color);
}

/* portfolio */

.portfolio {

}

.filter-list {
  display: flex;
  list-style: none;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-list .button {
  background-color: var(--tertiary-background-color);
  padding: 6px 24px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
}

.filter-list-button:not(:last-child) {
  margin-right: 8px;
}

.filter-list .button:hover,
.filter-list .button:focus {
  color: var(--tertiary-text-color);
  background-color: var(--accent-color);
  cursor: pointer;
}

.portfolio-title {
margin-top: 0px;
margin-bottom: 0px;
text-align: center;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.portfolio-list-item {
  margin-right: 30px;
  margin-bottom: 30px;
  width: 370px;
}
.portfolio-list-item:nth-child(3n+0) {
  margin-right: 0px;
}

.portfolio .title {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio .text {
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
